{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container">
	
	<div class="card mx-auto col-md-9 mt-2">
			
			<div class="card-body">
				<h2>Signup Form</h2>
				<form  method="post">
					{% csrf_token %}

					<table  class="table table-borderless mr-2">
					{% for i in form %}
					<tr>
						<td>{{i}}</td>
					</tr>
					{% endfor %}
				</table>

				<input type="submit" value="Register" class=" btn btn-success btn-block">
		</form>


		
	</div>
	

	</div>

{% endblock content %}